@font-face {
    font-family: "JetBrains Mono";
    src: url("../font/ttf/JetBrainsMonoNL-Regular.ttf") format("truetype");
}

body{
    color: white;
    font-size: 13pt;
    margin: 0;
    font-family: JetBrains Mono, serif;

    display: flex;
}

section{
    width: 66%;
    height: 100%;
    padding: 2% 12% 2% 2%;
    float: right;

    background-color: black;
}

aside{
    width: 16%;
    padding: 2%;

    background-color: #4f4f4f;
}

.TechStack{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    height: fit-content;
}

.TechStack li{
    width: 33%;
    height: auto;
}

.TechStack li img {
    height: auto;
    width: 80%;
    padding: 10%;
    margin: auto;
}

h1{
    text-align: center;
}

aside picture img{
    display: block;
    width: 80%;
    padding: 0 10% 10%;
    margin-left: auto;
    margin-right: auto;
}

ul{
    list-style-type: none;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}

ul li img{
    width: 100%;
    height: auto;
}

.Turtle {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}

.Turtle h1{
    width: 100%;
    flex: none;
}

.Turtle .left{
    width: 49%;
    padding-right: 1%;
}
.Turtle .right{
    width: 49%;
    padding-left: 1%;
}

.Turtle .right iframe{
    width: 100%;
    height: 100%;
    border: none;
}

.Plush {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}

.Plush h1{
    width: 100%;
    flex: none;
}

.Plush .left{
    width: 49%;
    padding-right: 1%;
}
.Plush .right{
    width: 49%;
    padding-left: 1%;
}

.Plush .right iframe{
    width: 100%;
    height: 100%;
    border: none;
}

#game-surface{
    border-radius: 2%;
    border: solid lightblue;
}

#gameContainer{
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;

    font-size: 13pt;
    border: none;

    padding: 16px;
    border-radius: 16px;

    background-color: lightblue;
    font-family: "JetBrains Mono", ui-monospace;
}

a:hover{
    background-color: white;
}